@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* layout */
* {
  box-sizing: border-box;
}
html,
body {
	font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
	background-color: #ffffff;
	color: #000000;
	width: 100vw;
	height: 100%;
	margin: 0;
 	padding: 0;
	font-size: 15px;
  font-weight: 900!important;
	line-height: 20px;
  letter-spacing: 0.1em;
	text-align: center;
  /* min-width: 1440px; */
}
a {
	text-decoration: none;
  color: #ffffff;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.clear {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  visibility: hidden;
}
.animation{
  opacity : 0;
  visibility: hidden;
  transition: 2s;
  transform: translateY(30px);
}
.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.brsp {
  display: inline-block;
}
.nonbrsp {
  display: none;
}
.displaysp {
  display: block;
}
.nondisplaysp {
  display: none;
}
.dropshadow {
  -webkit-filter:drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
  -moz-filter:drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
  -ms-filter:drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
  filter:drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
}
img {
  width: 100%;
}
#sprecommended {
  display: none;
}
.omikujifont {
  font-family: dnp-shuei-4gob-std,'dnp-shuei-4gob-std','dnp shuei 4gob std','DNPShuei4goBStd Hv','DNP 秀英四号太かな Std','DNP 秀英四号太かな Std Hv',sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* アニメーション */
.delay-time01{
animation-delay: 0.2s;
}
.delay-time02{
animation-delay: 0.4s;
}
.delay-time03{
animation-delay: 0.6s;
}
.delay-time04{
animation-delay: 0.8s;
}
.delay-time05{
animation-delay: 1.0s;
}
.delay-time06{
animation-delay: 1.2s;
}
.delay-time07{
animation-delay: 1.4s;
}
.delay-time08{
animation-delay: 1.6s;
}
.delay-time09{
animation-delay: 1.8s;
}
.delay-time10{
animation-delay: 2.0s;
}
.delay-time11{
animation-delay: 2.2s;
}
.delay-time12{
animation-delay: 2.4s;
}
.delay-time13{
animation-delay: 2.6s;
}
.delay-time14{
animation-delay: 2.8s;
}
.delay-time15{
animation-delay: 3.0s;
}
.delay-time16{
animation-delay: 3.2s;
}
.box{
  opacity: 0;
}
.fadeUp {
  animation-name:fadeUpAnime;
  animation-duration:1s;
  animation-fill-mode:forwards;
  opacity: 0;
}
@keyframes fadeUpAnime{
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.slideUp {
  animation-name:slideUpAnime;
  animation-duration:1s;
  animation-fill-mode:forwards;
  animation-delay: 4s;
  transform: translateY(250px);
}
@keyframes slideUpAnime{
  from {
    transform: translateY(250px);
  }
  to {
    transform: translateY(100px);
  }
}
.blinkchouchin {
  animation: blinkChouchinAnime 1.8s infinite alternate;
}
@keyframes blinkChouchinAnime {
   0%{ background-image: url('../images/noren_chouchin_01.svg'); }
  49%{ background-image: url('../images/noren_chouchin_01.svg'); }
  51%{ background-image: url('../images/noren_chouchin_02.svg'); }
 100%{ background-image: url('../images/noren_chouchin_02.svg'); }
}
.blinkwhite {
  animation: blinkAnimeWhite 1.8s infinite alternate;
}
@keyframes blinkAnimeWhite {
   0%{ color : #c30d23; background:#ffffff; }
  49%{ color : #c30d23; background:#ffffff; }
  51%{ color : #ffffff; background:#c30d23; }
 100%{ color : #ffffff; background:#c30d23; }
}
.blinkred {
  animation: blinkAnimeRed 1.8s infinite alternate;
}
@keyframes blinkAnimeRed {
   0%{ color : #ffffff; background:#c30d23; }
  49%{ color : #ffffff; background:#c30d23; }
  51%{ color : #c30d23; background:#ffffff; }
 100%{ color : #c30d23; background:#ffffff; }
}
.blinkfont {
  animation: blinkFontAnime 1.8s infinite alternate;
}
@keyframes blinkFontAnime {
   0%{ color : #c30d23;}
  38%{ color : #c30d23;}
  40%{ color : #ffffff;}
  60%{ color : #ffffff;}
  62%{ color : #c30d23;}
 100%{ color : #c30d23;}
}
.telop {
  width : 100%;
  overflow : hidden;
}
.telop p {
  margin: 0;
  display : inline-block;
  padding-left: 100%;
  white-space : nowrap;
  line-height : 1em;
  animation : telopAnime 20s linear infinite;
}
@keyframes telopAnime{
   0% { transform: translateX(0);    }
 100% { transform: translateX(-100%);}
}
.loop_wrap {
  display: flex;
  width: 100vw;
  overflow: hidden;
}
.loop_wrap p {
  flex: 0 0 auto;
  white-space: nowrap;
  padding-left: 60px;
}
@keyframes loop {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes loop2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}
.loop_wrap p:nth-child(odd) {
  animation: loop 50s -25s linear infinite;
}
.loop_wrap p:nth-child(even) {
  animation: loop2 50s linear infinite;
}

/* .modal */
.modal {
  position: relative;
  letter-spacing: normal;
}
.modal .modal-overlay {
  height: 100vh;
  height: 100dvh;
  display: block;
  background-color: #ffffff;
  pointer-events: none;
}
.modal input:checked ~ .modal-overlay {
  pointer-events: auto;
}
.modal .modal-overlay .modal-wrap {
  background-color: #ffffff;
  box-shadow: 0 0 0 0;
  position: relative;
  width: 100%;
  min-height: 100%;
}
.modal .modal-overlay .modal-wrap label.close {
  position: sticky;
  top: calc(100vh - 72px);
  top: calc(100dvh - 72px);
  left: 12px;
  width: 60px;
  height: 60px;
  display: block;
}
.modal .modal-overlay .modal-wrap label.close img {
  width: 60px;
  height: 60px;
}

#modal01 #modal01-01 {
  position: relative;
  width: 100%;
  top: -60px;
}
#modal01 #modal01-01 img:first-child {
  width: 100%;
}
#modal01 #modal01-01 img:nth-child(2) {
  width: 70%;
  position: relative;
  top: -50px;
}
#modal01 #modal01-02 {
  position: relative;
  width: 100%;
}
#modal01 #modal01-02 p.modal01title01 {
  font-size: 36px;
  color: #C30D23;
  margin-bottom: 28px;
}
#modal01 #modal01-02 p {
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  padding-left: 20px;
}
#modal01 #modal01-02 img {
  width: 100%;
}
#modal01 #modal01-02 #modal01-02img {
  letter-spacing: -.4em;
  width: 100%;
  margin-top: 70px;
}
#modal01 #modal01-02 #modal01-02img img {
  letter-spacing: normal;
  width: 50%;
  display: inline-block;
}
#modal01 #modal01-02 #modal01-02img p {
  font-size: 10px;
  margin-top: 13px;
  margin-bottom: 24px;
  letter-spacing: 0.09em;
  text-align: center;
  padding-left: 0;
}
#modal01 #modal01-03 {
  position: relative;
  width: 100%;
  overflow: hidden;
}
#modal01 #modal01-03 img#modal01-03back {
  position: absolute;
  z-index: -1;
  width: 220%;
  top: 85px;
  left: -20%;
}
#modal01 #modal01-03 p.modal01title02 {
  font-size: 23px;
  line-height: 31px;
  color: #C30D23;
  margin-bottom: 28px;
  letter-spacing: 0.07em;
}
#modal01 #modal01-03 p {
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  padding-left: 20px;
  letter-spacing: 0.07em;
}
#modal01 #modal01-03>p:nth-child(3) {
  margin-bottom: 352px;
}
#modal01 #modal01-03>img:nth-child(6) {
  margin-top: 34px;
  margin-bottom: 56px;
}
#modal01 #modal01-03 #modal01-03img {
  margin-top: 38px;
  margin-bottom: 52px;
}
#modal01 #modal01-03 #modal01-03img img {
  width: 75%;
}
#modal01 #modal01-03 #modal01-03img span {
  display: block;
  margin-top: 12px;
  margin-bottom: 9px;
  letter-spacing: 0.07em;
}
#modal01 #modal01-03 #modal01-03img p {
  text-align: center;
  padding-left: 0;
  margin-bottom: 22px;
  letter-spacing: 0.07em;
}
#modal02 #modal02-01 {
  position: relative;
  width: 100%;
  height: 70px;
  margin-top: -60px;
}
#modal02 #modal02-01 p {
  height: 100%;
  background-color: #C30D23;
  color: #ffffff;
  line-height: 71px;
  font-size: 18px;
}
#modal02 #modal02-01 img,
#modal02 #modal02-04 img,
#modal02 #modal02-05 img,
#modal02 #modal02-06 img {
  width: 100%;
}
#modal02 a {
  font-size: 15px;
  line-height: 33px;
  display: block;
  width: 96vw;
  margin: 0 auto;
  height: 33px;
  border-radius: 3vw;
}
#modal02 #modal02-02 {
  position: relative;
  width: 100%;
  height: calc(166 / 125 * 100vw);
}
#modal02 #modal02-03 {
  position: relative;
  width: 100%;
  margin-bottom: 18px;
}
#modal02 #modal02-03 a {
  color: #ffffff;
  background-color: #C30D23;
}
#modal02 #modal02-04 {
  position: relative;
  width: 100%;
  height: calc(197 / 125 * 100vw);
}
#modal02 #modal02-04 a {
  color: #3BA77A;
  background-color: #ffffff;
  position: absolute;
  bottom: 29px;
  left: 0;
  right: 0;
}
#modal02 #modal02-05 {
  position: relative;
  width: 100%;
  height: calc(197 / 125 * 100vw);
}
#modal02 #modal02-05 a {
  color: #2F96CC;
  background-color: #ffffff;
  position: absolute;
  bottom: 27px;
  left: 0;
  right: 0;
}
#modal02 #modal02-06 {
  position: relative;
  width: 100%;
  height: calc(207 / 125 * 100vw);
}
#modal02 #modal02-06 a {
  color: #E03B5D;
  background-color: #ffffff;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
}
#modal03 .modal-overlay .modal-wrap {
  background-image: url('../images/ichimatsu_red.svg');
  background-repeat: repeat;
}
#modal03 #modal03-01 {
  position: relative;
  width: 100%;
  top: -60px;
}
#modal03 #modal03-01 p {
  color: #ffffff;
  text-align: left;
}
#modal03 #modal03-01 p:first-child {
  font-size: 18px;
  padding-left: 30px;
  padding-top: 50px;
  padding-bottom: 11px;
}
#modal03 #modal03-01 p:nth-child(2) {
  font-size: 26px;
  color: #FFEC00;
  padding-left: 30px;
}
#modal03 #modal03-01 img:nth-child(3) {
  margin: 50px 0 40px 0;
  width: 80%;
}
#modal03 #modal03-01 img:nth-child(4) {
  margin-bottom: 40px;
  width: 75%;
}
#modal03 #modal03-01 table {
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
  font-size: 12px;
}
#modal03 #modal03-01 table tr {
  height: 27px;
  line-height: 27px;
}
#modal03 #modal03-01 table th,
#modal03 #modal03-01 table td {
  border: solid 1px #ffffff;
}
#modal03 #modal03-01 table th:first-child,
#modal03 #modal03-01 table th:nth-child(2) {
  border-right: solid 1px #C30D23;
}
#modal03 #modal03-01 table th {
  background-color: #ffffff;
  color: #C30D23;
  font-size: 14px;
}
#modal03 #modal03-01 table td {
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0.08em;
}
#modal03 #modal03-01 table td:first-child {
  padding-left: 18px;
  text-align: left;
}
#modal03 #modal03-01 p:nth-child(6) {
  padding-left: 5%;
  margin: 7px 0 50px 0;
  font-size: 13px;
  letter-spacing: 0.08em;
}
#modal03 #modal03-01 p:nth-child(7) {
  padding-left: 5%;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 44px;
  letter-spacing: 0.1em;
}
#modal03 #modal03-01 p:nth-child(8) {
  padding-left: 5%;
  font-size: 11px;
  line-height: 20px;
  padding-bottom: 113px;
  margin-left:1em;
  text-indent:-1em;
  letter-spacing: 0.1em;
}
#modal04 #modal04-01 {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  color: #C30D23;
  font-size: 18px;
}
#modal04 #modal04-02 {
  position: relative;
  width: 100%;
  color: #ffffff;
  background-color: #C30D23;
}
#modal04 #modal04-02 p:first-child {
  padding-top: 74px;
}
#modal04 #modal04-02 p:nth-last-child(2) {
  margin-bottom: 30px;
}
#modal04 #modal04-02 p.modal04-02content:last-child {
  padding-bottom: 92px;
  margin-bottom: 0;
}
#modal04 #modal04-02 p.modal04-02content {
  font-size: 11px;
  line-height: 21px;
  margin-bottom: 70px;
}
#modal04 #modal04-02 p.modal04-02title {
  font-size: 12px;
  line-height: 21px;
  margin-bottom: 30px;
}

/* .page */
.page {
  position: relative;
  height: auto;
  min-height: 100%;
  box-sizing: border-box;
}

/* #wrapper */
#wrapper {
  position: relative;
  width: 100%;
  pointer-events: auto;
}

/* #countdown */
#countdownwrapper {
  width: 100vw;
  min-height: 100vh;
  min-height: 100dvh;
  position: relative;
  background-image: url('../images/2x3.svg'), url('../images/2x3.svg');
  background-position: left top, left bottom;
  background-repeat: repeat-x, repeat-x;
  background-size: calc(100vw / 8.5);
}
#countcontent {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  position: relative;
}
#countdownwrapper #countcontent img {
  width: 90%;
  margin: 0 auto;
  /* margin-top: calc(100vw / 8.5 / 2 * 3 + (100vh - 500px) / 7); */
  position: absolute;
  left: 0;
  right: 0;
  bottom: calc(50vh - (100vh - 500px) / 15);
}
#countdownwrapper #countcontent #count {
  position: absolute;
  bottom: calc(100vw / 8.5 / 2 * 3 + 4vh);
  left: 0;
  right: 0;
}
#countdownwrapper #countcontent p {
  color: #c30d23;
  font-weight: 900;
}
#countdownwrapper #countcontent p:first-child {
  font-size: calc(25px + (100vh - 850px) * 0.03);
}
#countdownwrapper #countcontent p:nth-child(2) {
  font-size: calc(30px + (100vh - 850px) * 0.03);
  line-height: calc(80px + (100vh - 850px) * 0.03);
}
#countdownwrapper #countcontent p:nth-child(2) span {
  font-size: calc(75px + (100vh - 850px) * 0.03);
  letter-spacing: -.03em;
  margin-right: 20px;
  margin-left: 15px;
}
#countdownwrapper #countcontent a:nth-child(3) {
  border-radius: calc(26px + (100vh - 850px) * 0.03);
  display: inline-block;
  line-height: calc(26px + (100vh - 850px) * 0.03);
  height: calc(26px + (100vh - 850px) * 0.03);
  padding: 0 calc(26px + (100vh - 850px) * 0.03);
  color: #ffffff;
  background-color: #c30d23;
  font-size: calc(14px + (100vh - 850px) * 0.03);
}
#countdownwrapper #countcontent a:nth-child(5) {
  font-size: calc(12px + (100vh - 850px) * 0.03);
  display: inline-block;
  color: #c30d23;
  line-height: calc(19px + (100vh - 850px) * 0.03);
  height: calc(19px + (100vh - 850px) * 0.03);
  margin: 1vh 0 4vh 0;
}
#countdownwrapper #countcontent p:nth-child(6) {
  font-size: calc(13px + (100vh - 850px) * 0.03);
  position: relative;
}

/* index */
#indexwrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}
#topwrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  height: 100dvh;
}
#topimages {
  position: absolute;
  width: 100%;
  letter-spacing: -.4em;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#topleft {
  position: relative;
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
#topleft img {
  width: 30px;
  height: auto;
  margin-left: 70%;
  margin-top: 2px;
  margin-bottom: 2px;
}
#topright {
  position: relative;
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
#topright img {
  width: 30px;
  height: auto;
  margin-right: 70%;
  margin-top: 2px;
  margin-bottom: 2px;
}
#topbottom {
  position: absolute;
  width: 100%;
  bottom: -10px;
}
#topbottom img {
  width: 300px;
  height: auto;
}

/* main */
header {
  position: relative;
  width: 100vw;
  /* height: calc(70px + (100vw - 320px) / 4.5); */
  height: calc(81 / 384 * 100vw);
  border-bottom: 2px solid #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  background-image: url('../images/noren_chouchin_01.svg');
}
#headlink {
  position: relative;
  width: 100vw;
  letter-spacing: -.4em;
  border-bottom: 3px solid #ffffff;
}
#headlink>label {
  width: 50vw;
  height: 49px;
  line-height: 49px;
  display: inline-block;
  letter-spacing: 0.15em;
  background-color: #c30d23;
  color: #ffffff;
  font-size: 14px;
}
#headlink>label:first-child {
  border-right: 1px #ffffff solid;
}
#headlink>label:nth-child(2) {
  border-left: 2px #ffffff solid;
}
#headerblock{
  position: fixed;
  height: 160px;
  width:100vw;
  z-index: 999;
}
#headerblock.UpMove{
  animation: UpAnime 0.3s forwards;
}
@keyframes UpAnime{
  from {
    opacity: 1;
  transform: translateY(0);
  }
  to {
    opacity: 0;
  transform: translateY(-130px);
  }
}
#headerblock.DownMove{
  animation: DownAnime 0.3s forwards;
}
@keyframes DownAnime{
  from {
    opacity: 0;
  transform: translateY(-130px);
  }
  to {
    opacity: 1;
  transform: translateY(0);
  }
}
#mainimage {
  position: relative;
  width: 100%;
  padding-top: 160px;
}
#mainimage img {
  width: 100%;
  height: auto;
}
#maindate {
  position: relative;
  width: 100%;
  border-top: 3px solid #c30d23;
}
#maindate p {
  font-size: 13px;
  height: 47px;
  line-height: 47px;
}
#guide {
  position: relative;
  width: 100%;
  letter-spacing: -.4em;
}
#guide label.guidelabel,
#guide a.guidelabel {
  position: relative;
  width: calc(100vw / 4);
  height: 205px;
  font-size: 15px;
  line-height: 22px;
  display: inline-block;
  letter-spacing: 0.3em;
  border-top: 3px solid #c30d23;
  border-bottom: 3px solid #c30d23;
}
#guide a.guidelabel {
  pointer-events: none;
}
#guide label.guidelabel:nth-child(odd),
#guide a.guidelabel:nth-child(odd) {
  background-color: #ffffff;
  color: #c30d23;
}
#guide label.guidelabel:nth-child(even),
#guide a.guidelabel:nth-child(even) {
  background-color: #c30d23;
  color: #ffffff;
}
#guide label.guidelabel p,
#guide label.guidelabel div,
#guide a.guidelabel p,
#guide a.guidelabel div {
  position: relative;
  writing-mode: vertical-rl;
  width: 25vw;
  height: 100%;
}
#guide a.guidelabel div {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 55%;
  background-image: url('../images/omikuji_waku.svg');
}
#guide a.guidelabel.blinkwhite div {
  animation: blinkAnimeWaku 1.8s infinite alternate;
}
@keyframes blinkAnimeWaku {
   0%{ background-image: url('../images/omikuji_waku.svg'); }
  49%{ background-image: url('../images/omikuji_waku.svg'); }
  51%{ background-image: url('../images/omikuji_waku_white.svg'); }
 100%{ background-image: url('../images/omikuji_waku_white.svg'); }
}
#guide label.guidelabel:first-child p,
#guide label.guidelabel:nth-child(4) p {
  padding-right: calc((25vw - 22px * 2) / 2);
}
#guide label.guidelabel:nth-child(2) p {
  padding-right: calc((25vw - 22px) / 2);
}
#guide label.guidelabel:first-child p span:first-child,
#guide label.guidelabel:nth-child(4) p span:first-child {
  position: relative;
  top: -10px;
}
#guide label.guidelabel:first-child p span:nth-child(3),
#guide label.guidelabel:nth-child(4) p span:nth-child(3) {
  position: relative;
  bottom: -50px;
}
#guide a.guidelabel>div>span:first-child {
  position: relative;
  top: -13px;
}
#guide a.guidelabel>div>span:first-child,
#guide a.guidelabel>div>span:nth-child(3) {
  font-size: 13px;
}
#guide a.guidelabel span {
  width: 100%;
  height: 10px;
  writing-mode: horizontal-tb;
  display: inline-block;
  letter-spacing: 0.1em;
}
/* #guide label.guidelabel:nth-child(3) span:first-child {
  height: 15px;
} */
#guide a.guidelabel p {
  width: 60%;
  /* border: 3px solid; */
  height: 134px;
  display: inline-block;
  /* padding-right: calc((25vw + 6px) / 2 - 16px - 5vw); */
}
#guide a.guidelabel p span {
  width: 100%;
  height: 100%;
  writing-mode: vertical-rl;
  display: inline-block;
  letter-spacing: 0.3em;
}
#c19 {
  position: relative;
  font-size: 11px;
  padding-top: 19px;
  padding-bottom: 19px;
  color: #c30d23;
}
#siteinfo {
  width: 100%;
  height: 44px;
  position: relative;
  letter-spacing: -.4em;
}
#siteinfo div {
  display: inline-block;
  width: 50vw;
  height: 100%;
  letter-spacing: 0.1em;
  height: 100%;
  font-size: 13px;
  line-height: 44px;
  color : #ffffff;
  background:#c30d23;
}
#siteinfo div:first-child {
  border-right: 1px #ffffff solid;
}
#siteinfo div:nth-child(2) {
  border-left: 2px #ffffff solid;
}
#siteinfo div a {
  display: block;
}
#event {
  position: relative;
  width: 100%;
}
#event p {
  width: 100%;
  color: #c30d23;
  font-size: 13px;
  margin: 19px auto;
}
#movieinfo {
  position: relative;
  width: 100%;
  background-color: #c30d23;
  height: 180px;
}
#movieinfo img {
  width: 75%;
  height: auto;
  margin-top: 27px;
}
#movieinfo p {
  font-size: 16px;
  color: #ffffff;
  position: relative;
  top: -10px;
}
#movie {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
#movie #iframeoverlay
{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #c30d23;
  outline: 2px solid #c30d23 !important;
  outline-offset: -1px;
  pointer-events: none;
}
#movie iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}
#brochure {
  position: relative;
  width: 100%;
  background-color: #c30d23;
}
#brochure #brochuretitle {
  color: #ffffff;
  font-size: 18px;
  height: 84px;
  line-height: 84px;
}
#brochure #brochurecontent {
  width: 100%;
  position: relative;
  padding-bottom: 28px;
}
#brochure #brochurecontent img {
  width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
}
#brochure #brochurecontent a {
  font-size: 13px;
  display: inline-block;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 2px;
  margin-top: 20px;
}
#brochure #brochurecontent p {
  font-size: 11px;
  line-height: 25px;
  color: #ffffff;
  margin-top: 10px;
}
#area {
  position: relative;
  width: 100%;
  color: #ffffff;
  background-color: #c30d23;
}
#area01 {
  position: relative;
  width: 100%;
  margin-top: 3px;
}
#area01 p {
  font-size: 15px;
  line-height: 60px;
}
#area01 .swiper .swiper-wrapper .swiper-slide {
  height: 250px !important;
}
#area01 .swiper .swiper-wrapper .swiper-slide img {
  width: auto;
  height: 100%;
}
#area01 .swiper .swiper-pagination {
  height: 63px;
  line-height: 63px;
}
#insta {
  position: relative;
  width: 100%;
}
#insta #instatitle {
  color: #c30d23;
  background-color: #ffffff;
  font-size: 15px;
  height: 118px;
  padding-top: 44px;
}
#insta #instatitle span {
  font-size: 12px;
}
#insta #instacontent {
  position: relative;
  width: 100%;
}
#insta #instacontent ul {
  position: relative;
  width: 100%;
  height: calc(100vw + 8px);
  letter-spacing: -.4em;
}
#insta #instacontent ul li {
  display: inline-block;
  width: calc(100% / 3);
  height: calc(100vw / 3);
  letter-spacing: normal;
  margin-bottom: 3px;
}
#insta #instacontent ul li:nth-child(3n-1),
#insta #instacontent ul li:nth-child(3n-2) {
  padding-right: 3px;
}
#insta #instacontent ul li:nth-child(4),
#insta #instacontent ul li:nth-child(5),
#insta #instacontent ul li:nth-child(6),
#insta #instacontent ul li:nth-child(7),
#insta #instacontent ul li:nth-child(8),
#insta #instacontent ul li:nth-child(9) {
    margin-top: -20px;
}
#insta #instacontent ul li a {
  display: block;
  height: 100%;
  width: 100%;
}
#insta #instacontent ul li a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  position: relative;
  width: 100%;
  background-image: url('../images/3x2.svg'), url('../images/3x2.svg');
  background-position: left top, right top;
  background-repeat: repeat-y, repeat-y;
  background-size: 60px;
  overflow: hidden;
}
footer #footerwrapper {
  width: calc(100vw - 120px);
  margin: 0 auto;
  background-color: #ffffff;
  position: relative;
}
footer #footerwrapper #footerimg01 {
  width: 85%;
  margin-top: 65px;
  margin-bottom: 65px;
}
footer #footerwrapper ul li a {
  color: #c30d23;
  font-size: 13px;
  display: inline-block;
  margin: 10px;
}
footer #footerwrapper ul li:first-child a {
  pointer-events: none;
}
footer #footerwrapper ul li label {
  color: #c30d23;
  font-size: 13px;
  display: inline-block;
  margin: 10px;
}
footer #footerwrapper p {
  position: relative;
  margin-top: 80px;
  margin-bottom: 80px;
}
footer #footerwrapper p img {
  width: 60%;
}
footer #footerwrapper #footerimg02 {
  width: 75%;
  margin-bottom: -20px;
}

/* omikuji */
#omikujiwrapper {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  position: relative;
  background-image: url('../images/2x3.svg'), url('../images/2x3.svg');
  background-position: left top, left bottom;
  background-repeat: repeat-x, repeat-x;
  background-size: calc(100vw / 8.5);
}
#omikujiwrapper img {
  width: 100%;
  margin-top: calc(100vw / 8.5 / 2 * 3 + 10vw);
}
#kekkawrapper {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  position: relative;
  color: #c30d23;
}
#kekkawrapper> p {
  font-size: 20px;
  line-height: 35px;
}
#kekkawrapper> p span {
  font-size: 32px;
}
#kekkawrapper #kekkacontent {
  width: 100%;
  position: relative;
}
#kekkawrapper #kekkacontent {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
#kekkawrapper #kekkacontent #kekkabox01 {
  border: 3px solid #c30d23;
  border-bottom: 1px solid #c30d23;
}
#kekkawrapper #kekkacontent #kekkabox01 #kekkabox01-01 {
  border: 3px solid #c30d23;
  margin: 3px;
}
#kekkawrapper #kekkacontent #kekkabox01 #kekkabox01-02 {
  border: 3px solid #c30d23;
  margin: 3px;
  font-size: 15px;
  line-height: 22px;
  padding: 25px 0;
}
#kekkawrapper #kekkacontent #kekkabox02 {
  border: 3px solid #c30d23;
  border-top: 2px solid #c30d23;
  border-bottom: 1px solid #c30d23;
}
#kekkawrapper #kekkacontent #kekkabox02 #kekkabox02-01 {
  border: 3px solid #c30d23;
  margin: 3px;
  font-size: 18px;
  letter-spacing: .4em;
  line-height: 50px;
}
#kekkawrapper #kekkacontent #kekkabox02 #kekkabox02-02 {
  border: 3px solid #c30d23;
  margin: 3px;
}
#kekkawrapper #kekkacontent #kekkabox02 #kekkabox02-02>div {
  border: 3px solid #c30d23;
  margin: 3px;
}
#kekkawrapper #kekkacontent #kekkabox02 #kekkabox02-02>div p:first-child {
  font-size: 15px;
  line-height: 22px;
  padding: 30px 0;
}
#kekkawrapper #kekkacontent #kekkabox02 #kekkabox02-02>div p:nth-child(2) {
  font-size: 13px;
  line-height: 20px;
  padding-bottom: 30px;
}
#kekkawrapper #kekkacontent #kekkabox02 #kekkabox02-02>div i {

}
#kekkawrapper #kekkacontent #kekkabox03 {
  border: 3px solid #c30d23;
  border-top: 2px solid #c30d23;
  font-size: 30px;
  line-height: 45px;
}
#kekkawrapper #kekkacontent #kekkabox03 p button {
  font-size: 20px;
  letter-spacing: .4em;
  line-height: 50px;
  color: #c30d23;
  font-weight: 900;
}
#kekkawrapper #kekkacontent a {
  color: #c30d23;
}
#kekkawrapper #kekkacontent #kekkabox03 + a {
  margin: 30px 0;
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
}
#kekkawrapper #kekkacontent #kekkabox03 + a + img {
  width: 75%;
}
.kuji {
 width: 200px;
}
.kujikekka {
 width: 200px;
}