@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* layout */
* {
  box-sizing: border-box;
}
html,
body {
	font-family: "凸版文久見出しゴシック StdN EB", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
	background-color: #ffffff;
	color: #000000;
	width: 100vw;
	height: 100%;
	margin: 0;
 	padding: 0;
	font-size: 15px;
	line-height: 20px;
  letter-spacing: 0.1em;
	text-align: center;
  /* min-width: 1440px; */
}
a {
	text-decoration: none;
  color: #ffffff;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.clear {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  visibility: hidden;
}
.animation{
  opacity : 0;
  visibility: hidden;
  transition: 2s;
  transform: translateY(30px);
}
.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.brsp {
  display: inline-block;
}
.nonbrsp {
  display: none;
}
.displaysp {
  display: block;
}
.nondisplaysp {
  display: none;
}

/* アニメーション */
.delay-time01{
animation-delay: 0.2s;
}
.delay-time02{
animation-delay: 0.4s;
}
.delay-time03{
animation-delay: 0.6s;
}
.delay-time04{
animation-delay: 0.8s;
}
.delay-time05{
animation-delay: 1.0s;
}
.delay-time06{
animation-delay: 1.2s;
}
.delay-time07{
animation-delay: 1.4s;
}
.delay-time08{
animation-delay: 1.6s;
}
.delay-time09{
animation-delay: 1.8s;
}
.delay-time10{
animation-delay: 2.0s;
}
.delay-time11{
animation-delay: 2.2s;
}
.delay-time12{
animation-delay: 2.4s;
}
.delay-time13{
animation-delay: 2.6s;
}
.delay-time14{
animation-delay: 2.8s;
}
.delay-time15{
animation-delay: 3.0s;
}
.delay-time16{
animation-delay: 3.2s;
}
.box{
  opacity: 0;
}
.fadeUp {
  animation-name:fadeUpAnime;
  animation-duration:1s;
  animation-fill-mode:forwards;
  opacity: 0;
}
@keyframes fadeUpAnime{
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.slideUp {
  animation-name:slideUpAnime;
  animation-duration:1s;
  animation-fill-mode:forwards;
  animation-delay: 4s;
  transform: translateY(100px);
}
@keyframes slideUpAnime{
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}
.blinkwhite {
  animation: blinkAnimeWhite 1.8s infinite alternate;
}
@keyframes blinkAnimeWhite {
   0%{ color : #B40019; background:#ffffff; }
  49%{ color : #B40019; background:#ffffff; }
  51%{ color : #ffffff; background:#B40019; }
 100%{ color : #ffffff; background:#B40019; }
}
.blinkred {
  animation: blinkAnimeRed 1.8s infinite alternate;
}
@keyframes blinkAnimeRed {
   0%{ color : #ffffff; background:#B40019; }
  49%{ color : #ffffff; background:#B40019; }
  51%{ color : #B40019; background:#ffffff; }
 100%{ color : #B40019; background:#ffffff; }
}
.telop {
  width : 100%;
  overflow : hidden;
}
.telop p {
  margin: 0;
  display : inline-block;
  padding-left: 100%;
  white-space : nowrap;
  line-height : 1em;
  animation : telopAnime 20s linear infinite;
}
@keyframes telopAnime{
   0% { transform: translateX(0)    }
 100% { transform: translateX(-100%)}
}
.telop2 {
  width : 100%;
  overflow : hidden;
}
.telop2 p {
  margin: 0;
  display : inline-block;
  padding-left: 100%;
  white-space : nowrap;
  line-height : 1em;
  animation : telop2Anime 20s linear infinite;
}
@keyframes telop2Anime{
   0% { transform: translateX(-100%)    }
 100% { transform: translateX(0)}
}
/* .scrollWrap {
  scroll-snap-type: x mandatory;
  overflow: auto;
  display: flex;
  width: 100%;
}
.scrollWrap::-webkit-scrollbar {
  display: none;
}
.scrollWrap .cont {
  scroll-snap-align: start;
  display: flex;
  flex-wrap: wrap;
  flex: none;
  justify-content: center;
  align-items: center;
  padding: 3px;
}
.scrollWrap .cont:first-child {
  padding-left: 5vw;
}
.scrollWrap .cont:last-child {
  padding-right: 5vw;
} */

/* .page */
.page {
  position: relative;
  height: auto;
  min-height: 100%;
  box-sizing: border-box;
}

/* #wrapper */
#wrapper {
  position: relative;
  width: 100%;
  height: 2000px;
}

/* #countdown */
#countdownwrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url('../images/2x3.svg'), url('../images/2x3.svg');
  background-position: left top, left bottom;
  background-repeat: repeat-x, repeat-x;
  background-size: calc(100vw / 8.5);
}
#countcontent {
  width: 100%;
  position: relative;
}
#countdownwrapper #countcontent img {
  width: 100%;
  margin-top: 17vh;
  margin-bottom: 10vh;
}
#countdownwrapper #countcontent p {
  color: #B40019;
  font-weight: 800;
}
#countdownwrapper #countcontent p:first-child {
  font-size: calc(25px + (100vh - 850px) * 0.01);
}
#countdownwrapper #countcontent p:nth-child(2) {
  font-size: calc(40px + (100vh - 850px) * 0.1);
  line-height: calc(100px + (100vh - 850px) * 0.1);
}
#countdownwrapper #countcontent p:nth-child(2) span {
  font-size: calc(100px + (100vh - 850px) * 0.1);
  letter-spacing: -.03em;
  margin-right: 20px;
  margin-left: 15px;
}
#countdownwrapper #countcontent p:nth-child(3) {
  font-size: calc(13px + (100vh - 850px) * 0.01);
  position: relative;
  bottom: calc((750px - 100vh) / 3);
}

/* top */
#indexwrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}
#topwrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}
#topimages {
  position: absolute;
  width: 100%;
  letter-spacing: -.4em;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#topleft {
  position: relative;
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
#topleft img {
  width: 30px;
  height: auto;
  margin-left: 70%;
}
#topright {
  position: relative;
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
#topright img {
  width: 30px;
  height: auto;
  margin-right: 70%;
}
#topbottom {
  position: absolute;
  width: 100%;
  bottom: -10px;
}
#topbottom img {
  width: 300px;
  height: auto;
}

/* index */
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 109px;
  letter-spacing: -.4em;
  border-bottom: 2px solid #ffffff;
  z-index: 100;
}
#headchouchin1,
#headchouchin2,
#headchouchin3 {
  display: inline-block;
  width: calc(100% / 3);
  letter-spacing: normal;
  height: 100%;
}
.headchouchin {
  width: 100%;
  letter-spacing: -.4em;
  margin-top: 20px;
}
.headchouchin img {
  width: calc(100% / 3);
  height: auto;
  padding: 7px;
}
header p {
  display: none;
}
#headlink {
  position: relative;
  width: 100%;
  letter-spacing: -.4em;
}
#headlink label {
  width: calc(100% / 2);
  height: 49px;
  line-height: 49px;
  display: inline-block;
  letter-spacing: 0.1em;
  background-color: #B40019;
  color: #ffffff;
  font-size: 14px;
}
#headlink label:first-child {
  border-right: 1px #ffffff solid;
}
#headlink label:nth-child(2) {
  border-left: 1px #ffffff solid;
}
#mainimage {
  position: relative;
  width: 100%;
}
#mainimage img {
  width: 100%;
  height: auto;
}
#maindate {
  position: relative;
  width: 100%;
  border-top: 3px solid #B40019;
}
#maindate p {
  font-size: 13px;
  height: 47px;
  line-height: 47px;
  color: #B40019;
}
#guide {
  position: relative;
  width: 100%;
  letter-spacing: -.4em;
}
#guide label.guidelabel {
  position: relative;
  width: calc(100% / 4);
  height: 205px;
  font-size: 15px;
  line-height: 22px;
  display: inline-block;
  letter-spacing: 0.1em;
  border-top: 3px solid #B40019;
  border-bottom: 3px solid #B40019;
}
#guide label.guidelabel p,
#guide label.guidelabel div {
  position: relative;
  writing-mode: vertical-rl;
  width: 100%;
  height: 100%;
}
#guide label.guidelabel:first-child p,
#guide label.guidelabel:nth-child(2) p {
  padding-right: calc((25vw - 22px * 2) / 2);
}
#guide label.guidelabel:nth-child(4) p {
  padding-right: calc((25vw - 22px) / 2);
}
#guide label.guidelabel:nth-child(3) span {
  width: 100%;
  height: 10px;
  writing-mode: horizontal-tb;
  display: inline-block;
}
#guide label.guidelabel:nth-child(3) span:first-child {
  height: 15px;
}
#guide label.guidelabel:nth-child(3) span:nth-child(2) {
  font-size: 10px;
  transform: scale(0.8);
}
#guide label.guidelabel:nth-child(3) p {
  width: 60%;
  /* border: 3px solid; */
  height: 134px;
  display: inline-block;
  /* padding-right: calc((25vw + 6px) / 2 - 16px - 5vw); */
}
#guide label.guidelabel:nth-child(3) p img {
  width: 100%;
  height: auto;
}
#c19 {
  position: relative;
  font-size: 13px;
  padding-top: 19px;
  padding-bottom: 19px;
  color: #B40019;
}
#siteinfo {
  width: 100%;
  height: 44px;
  position: relative;
  letter-spacing: -.4em;
}
#siteinfo div {
  display: inline-block;
  width: calc(100% / 2);
  height: 100%;
  letter-spacing: 0.1em;
  height: 100%;
  font-size: 13px;
  line-height: 44px;
  color : #ffffff;
  background:#B40019;
}
#siteinfo div:first-child {
  border-right: 1px #ffffff solid;
}
#siteinfo div:nth-child(2) {
  border-left: 1px #ffffff solid;
}
#event {
  position: relative;
  width: 100%;
}
#event p {
  width: 100%;
  color: #B40019;
  font-size: 15px;
  margin: 19px auto;
}
#movieinfo {
  position: relative;
  width: 100%;
  background-color: #B40019;
}
#movieinfo img {
  width: 100%;
  height: auto;
}
#movie {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
#movie iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
#brochure {
  position: relative;
  width: 100%;
  background-color: #B40019;
}
#brochure #brochuretitle {
  color: #ffffff;
  font-size: 15px;
  height: 84px;
  line-height: 20px;
  padding-top: 24px;
}
#brochure #brochurecontent {
  width: 100%;
  height: 577px;
  position: relative;
  /* padding-top: 5vw; */
}
#brochure #brochurecontent img {
  width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
}
#brochure #brochurecontent a {
  font-size: 15px;
  display: inline-block;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 2px;
  margin-top: 20px;
}
#area {
  position: relative;
  width: 100%;
  color: #ffffff;
  background-color: #B40019;
}
#area01 {
  position: relative;
  width: 100%;
  margin-top: 3px;
}
#area01 p {
  font-size: 15px;
  line-height: 45px;
}
#area01 .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  padding-left: 18px;
}
#area01 .swiper .swiper-pagination {
  height: 63px;
  line-height: 63px;
}
#insta {
  position: relative;
  width: 100%;
}
#insta #instatitle {
  color: #B40019;
  background-color: #ffffff;
  font-size: 15px;
  height: 118px;
  padding-top: 44px;
}
#insta #instatitle span {
  font-size: 12px;
}
#insta #instacontent {
  height: 300px;
}
footer {
  position: relative;
  width: 100%;
  background: linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%),
              linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%);
  background-color: #B40019;
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
  overflow: hidden;
}
footer #footerwrapper {
  width: calc(100vw - 120px);
  margin: 0 auto;
  background-color: #ffffff;
  position: relative;
}
footer #footerwrapper #footerimg01 {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 95px;
}
footer #footerwrapper ul li a {
  color: #B40019;
  font-size: 13px;
  display: inline-block;
  margin: 10px;
}
footer #footerwrapper p {
  color: #B40019;
  position: relative;
  bottom: -80px;
}
footer #footerwrapper #footerimg02 {
  width: 100%;
  margin-top: 100px;
  margin-bottom: -10px;
}

/* omikuji */
#omikujiwrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url('../images/3x3.svg'), url('../images/3x3.svg');
  background-position: left top, left bottom;
  background-repeat: repeat-x, repeat-x;
  background-size: 60px;
}

.kujikekka {
 width: 200px;
}