@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* layout */
* {
  box-sizing: border-box;
}
html,
body {
	font-family: YuMincho, 'Yu Mincho', serif;
	background-color: #ffffff;
	color: #000000;
	width: 100vw;
	height: 100%;
	margin: 0;
 	padding: 0;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.03em;
  /* min-width: 1440px; */
}
a {
	text-decoration: none;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.clear {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  visibility: hidden;
}
.animation{
  opacity : 0;
  visibility: hidden;
  transition: 2s;
  transform: translateY(30px);
}
.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.brsp {
  display: inline-block;
}
.nonbrsp {
  display: none;
}
.displaysp {
  display: block;
}
.nondisplaysp {
  display: none;
}

/* アニメーション */
.delay-time01{
animation-delay: 0.2s;
}
.delay-time02{
animation-delay: 0.4s;
}
.delay-time03{
animation-delay: 0.6s;
}
.delay-time04{
animation-delay: 0.8s;
}
.delay-time05{
animation-delay: 1.0s;
}
.delay-time06{
animation-delay: 1.2s;
}
.delay-time07{
animation-delay: 1.4s;
}
.delay-time08{
animation-delay: 1.6s;
}
.delay-time09{
animation-delay: 1.8s;
}
.delay-time10{
animation-delay: 2.0s;
}
.delay-time11{
animation-delay: 2.2s;
}
.delay-time12{
animation-delay: 2.4s;
}
.delay-time13{
animation-delay: 2.6s;
}
.delay-time14{
animation-delay: 2.8s;
}
.delay-time15{
animation-delay: 3.0s;
}
.delay-time16{
animation-delay: 3.2s;
}
.box{
  opacity: 0;
}
.fadeUp {
  animation-name:fadeUpAnime;
  animation-duration:1s;
  animation-fill-mode:forwards;
  opacity: 0;
}
@keyframes fadeUpAnime{
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.slideUp {
  animation-name:slideUpAnime;
  animation-duration:1s;
  animation-fill-mode:forwards;
  animation-delay: 4s;
  transform: translateY(100px);
}
@keyframes slideUpAnime{
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}
.blinkwhite {
  animation: blinkAnimeWhite 1.8s infinite alternate;
}
@keyframes blinkAnimeWhite {
   0%{ color : #B40019; background:#ffffff; }
  49%{ color : #B40019; background:#ffffff; }
  51%{ color : #ffffff; background:#B40019; }
 100%{ color : #ffffff; background:#B40019; }
}
.blinkred {
  animation: blinkAnimeRed 1.8s infinite alternate;
}
@keyframes blinkAnimeRed {
   0%{ color : #ffffff; background:#B40019; }
  49%{ color : #ffffff; background:#B40019; }
  51%{ color : #B40019; background:#ffffff; }
 100%{ color : #B40019; background:#ffffff; }

}

/* .page */
.page {
  position: relative;
  height: auto;
  min-height: 100%;
  box-sizing: border-box;
}

/* #wrapper */
#wrapper {
  position: relative;
  width: 100%;
  height: 2000px;
}

/* top */
#indexwrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}
#topwrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}
#topimages {
  position: absolute;
  width: 100%;
  letter-spacing: -.4em;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#topleft {
  position: relative;
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
#topleft img {
  width: 30px;
  height: auto;
  margin-left: 70%;
}
#topright {
  position: relative;
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
#topright img {
  width: 30px;
  height: auto;
  margin-right: 70%;
}
#topbottom {
  position: absolute;
  width: 100%;
  bottom: -10px;
}
#topbottom img {
  width: 300px;
  height: auto;
}

/* index */
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 109px;
  letter-spacing: -.4em;
  border-bottom: 2px solid #ffffff;
  z-index: 100;
}
#headchouchin1,
#headchouchin2,
#headchouchin3 {
  display: inline-block;
  width: calc(100% / 3);
  letter-spacing: normal;
  height: 100%;
}
.headchouchin {
  width: 100%;
  letter-spacing: -.4em;
  margin-top: 20px;
}
.headchouchin img {
  width: calc(100% / 3);
  height: auto;
  padding: 7px;
}
#headlink {
  position: relative;
  width: 100%;
  letter-spacing: -.4em;
}
#headlink label {
  width: calc(100% / 2);
  height: 49px;
  line-height: 49px;
  display: inline-block;
  letter-spacing: normal;
  background-color: #B40019;
  color: #ffffff;
}
#headlink label:first-child {
  border-right: 1px #ffffff solid;
}
#headlink label:nth-child(2) {
  border-left: 1px #ffffff solid;
}
#mainimage {
  position: relative;
  width: 100%;
}
#mainimage img {
  width: 100%;
  height: auto;
}
#guide {
  position: relative;
  width: 100%;
  letter-spacing: -.4em;
}
#guide label.guidelabel {
  position: relative;
  width: calc(100% / 4);
  height: 205px;
  font-size: 15px;
  line-height: 22px;
  display: inline-block;
  letter-spacing: normal;
  border-top: 3px solid #B40019;
  border-bottom: 3px solid #B40019;
}
#guide label.guidelabel p,
#guide label.guidelabel div {
  position: relative;
  writing-mode: vertical-rl;
  width: 100%;
  height: 100%;
}
#guide label.guidelabel:first-child p,
#guide label.guidelabel:nth-child(2) p {
  padding-right: calc((25vw - 22px * 2) / 2);
}
#guide label.guidelabel:nth-child(4) p {
  padding-right: calc((25vw - 22px) / 2);
}
#guide label.guidelabel:nth-child(3) span {
  width: 100%;
  writing-mode: horizontal-tb;
  display: inline-block;
}
#guide label.guidelabel:nth-child(3) p {
  width: 60%;
  border: 3px solid;
  height: 100px;
  display: inline-block;
  padding-right: calc((25vw + 6px) / 2 - 16px - 5vw);
}