@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* layout */
* {
  box-sizing: border-box;
}
html,
body {
	font-family: "凸版文久見出しゴシック StdN EB", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
	background-color: #ffffff;
	color: #000000;
	width: 100vw;
	height: 100%;
	margin: 0;
 	padding: 0;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.03em;
  /* min-width: 1440px; */
}
a {
	text-decoration: none;
	color: #FFB100;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.clear {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  visibility: hidden;
}
.animation{
  opacity : 0;
  visibility: hidden;
  transition: 2s;
  transform: translateY(30px);
}
.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.brsp {
  display: none;
}
.nonbrsp {
  display: inline-block;
}
.displaysp {
  display: none !important;
}
.nondisplaysp {
  display: block;
}

/* .page */
.page {
  position: relative;
  height: auto;
  min-height: 100%;
  box-sizing: border-box;
}

/* #wrapper */
#wrapper {
  position: relative;
  overflow: hidden;
}

/* omikuji */
body {
 background: white;
 height: 100vh;
}
h1 {
 font-size: 4rem;
 color: #eee;
 text-shadow: 3px 0 #252525;
}
button {
 font-size: 2rem;
 color: #ffc0cb;
 background-color: #f00;
 margin: 20px;
 padding: 5px;
 border-radius: 10px;
 transition-duration: 0.4s;
 -webkit-transition-duration: 0.4s; /* Safari */
}
button:hover {
 color: #fff;
}
a {
 font-size: 2rem;
 color: #ffc0cb;
 background-color: #f00;
 margin: 20px;
 padding: 5px;
 border-radius: 10px;
 text-decoration: none;
 transition-duration: 0.4s;
 -webkit-transition-duration: 0.4s; /* Safari */
}
a:hover {
 color: #fff;
}
.kuji {
 width: 200px;
}
.kujikekka {
 width: 200px;
}

/* #countdown */
#countdownwrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-image: url('../images/5x2.svg'), url('../images/5x2.svg');
  background-position: left top, right top;
  background-repeat: repeat-y, repeat-y;
  background-size: calc(115 * (100vw / 1080));
}
#countcontent {
  width: 100%;
  position: relative;
}
#countdownwrapper #countcontent img {
  width: 50%;
  margin-top: 9vh;
  margin-bottom: 7vh;
}
#countdownwrapper #countcontent p {
  color: #B40019;
  font-weight: 800;
}
#countdownwrapper #countcontent p:first-child {
  font-size: calc(19px + (100vw - 1080px) * 0.01);
}
#countdownwrapper #countcontent p:nth-child(2) {
  font-size: calc(27px + (100vw - 1080px) * 0.01);
  line-height: calc(120px + (100vw - 1080px) * 0.01);
}
#countdownwrapper #countcontent p:nth-child(2) span {
  font-size: calc(72px + (100vw - 1080px) * 0.01);
  letter-spacing: -.03em;
  margin-right: 20px;
  margin-left: 15px;
}
#countdownwrapper #countcontent p:nth-child(3) {
  font-size: calc(15px + (100vw - 1080px) * 0.01);
  position: relative;
  bottom: 15px;
}