@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* layout */
* {
  box-sizing: border-box;
}
html,
body {
	font-family: YuMincho, 'Yu Mincho', serif;
	background-color: #ffffff;
	color: #000000;
	width: 100vw;
	height: 100%;
	margin: 0;
 	padding: 0;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.03em;
  /* min-width: 1440px; */
}
a {
	text-decoration: none;
	color: #FFB100;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.clear {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  visibility: hidden;
}
.animation{
  opacity : 0;
  visibility: hidden;
  transition: 2s;
  transform: translateY(30px);
}
.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.brsp {
  display: none;
}
.nonbrsp {
  display: inline-block;
}
.displaysp {
  display: none !important;
}
.nondisplaysp {
  display: block;
}

/* .page */
.page {
  position: relative;
  height: auto;
  min-height: 100%;
  box-sizing: border-box;
}

/* #wrapper */
#wrapper {
  position: relative;
  overflow: hidden;
}

/* omikuji */
body {
 background: white;
 font-family: "Hannari";
 height: 100vh;
}
.container {
 width: 70%;
 margin: auto;
 text-align: center;
}
h1 {
 font-size: 4rem;
 color: #eee;
 text-shadow: 3px 0 #252525;
}
button {
 font-size: 2rem;
 color: #ffc0cb;
 background-color: #f00;
 margin: 20px;
 padding: 5px;
 border-radius: 10px;
 transition-duration: 0.4s;
 -webkit-transition-duration: 0.4s; /* Safari */
}
button:hover {
 color: #fff;
}
a {
 font-size: 2rem;
 color: #ffc0cb;
 background-color: #f00;
 margin: 20px;
 padding: 5px;
 border-radius: 10px;
 text-decoration: none;
 transition-duration: 0.4s;
 -webkit-transition-duration: 0.4s; /* Safari */
}
a:hover {
 color: #fff;
}
.kuji {
 width: 200px;
}
.kujikekka {
 width: 200px;
}

/* #countdown */
#countdownwrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url('../images/3x2.svg'), url('../images/3x2.svg');
  background-position: left top, right top;
  background-repeat: repeat-y, repeat-y;
  background-size: 60px;
}
#countdownwrapper img {
  width: 50%;
  margin-top: 72px;
  margin-bottom: 57px;
}
#countdownwrapper p {
  color: #B40019;
  font-weight: bold;
}
#countdownwrapper p:first-child {
  font-size: 22px;
}
#countdownwrapper p:nth-child(2) {
  font-size: 40px;
  line-height: 120px;
}
#countdownwrapper p:nth-child(2) span {
  font-size: 100px;
}
#countdownwrapper p:nth-child(3) {
  font-size: 15px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 33px;
}