@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* layout */
* {
  box-sizing: border-box;
}
html,
body {
	font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
	background-color: #ffffff;
	color: #000000;
	width: 100vw;
	height: 100%;
	margin: 0;
 	padding: 0;
	font-size: 15px;
  font-weight: 900;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.03em;
  /* min-width: 1440px; */
}
a {
	text-decoration: none;
	color: #c30d23;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.clear {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  visibility: hidden;
}
.animation{
  opacity : 0;
  visibility: hidden;
  transition: 2s;
  transform: translateY(30px);
}
.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.brsp {
  display: none;
}
.nonbrsp {
  display: inline-block;
}
.displaysp {
  display: none !important;
}
.nondisplaysp {
  display: block;
}
#sprecommendedwrapper {
  display: block;
  position: absolute;
  top: 0;
  z-index: 999999;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  background-image: url('../images/2x3.svg'), url('../images/2x3.svg');
  background-position: left top, left bottom;
  background-repeat: repeat-x, repeat-x;
  background-size: calc(100vw / 8.5);
  overflow: auto;
}
#sprecommendedcontent {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  min-height: 700px;
  position: relative;
  overflow: auto;
}
#sprecommendedwrapper #sprecommendedcontent>img {
  width: 70%;
  margin-top: 17vh;
  margin-bottom: 5vh;
}
#sprecommendedwrapper #sprecommendedcontent #sprecommended {
  position: relative;
  left: 0;
  right: 0;
  width: 100%;
  height: 20vh;
}
#sprecommendedwrapper #sprecommendedcontent #sprecommended img {
  width: 15%;
  display: inline-block;
  margin-top: calc((20vh - 15vw) / 2);
}
#sprecommendedwrapper #sprecommendedcontent #sprecommended p {
  font-size: calc(15px + (100vh - 850px) * 0.01);
  line-height: calc(42px + (100vh - 850px) * 0.01);
  display: inline-block;
  position: relative;
  top: calc(-6vw + 22px);
  margin: 4vw;
  color: #c30d23;
}
#sprecommendedwrapper #sprecommendedcontent #sprecommended p span {
  border-bottom: 3px solid #c30d23;
  padding-bottom: 6px;
  font-size: calc(28px + (100vh - 850px) * 0.01);
  line-height: calc(42px + (100vh - 850px) * 0.01);
}
#sprecommendedwrapper #sprecommendedcontent>p {
  color: #c30d23;
  font-size: calc(15px + (100vh - 850px) * 0.01);
  margin-top: calc(10px + (100vh - 850px) * 0.01);
}

/* .page */
.page {
  position: relative;
  height: auto;
  min-height: 100%;
  box-sizing: border-box;
}

/* #wrapper */
#wrapper {
  position: relative;
  overflow: hidden;
  display: none;
}

/* #indexwrapper */
#indexwrapper {
  display: none;
}

/* #countdown */
#countdownwrapper {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  position: relative;
  background-image: url('../images/2x3.svg'), url('../images/2x3.svg');
  background-position: left top, left bottom;
  background-repeat: repeat-x, repeat-x;
  background-size: calc(100vw / 8.5);
}
#countcontent {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  position: relative;
}
#countdownwrapper #countcontent img {
  width: 70%;
  margin-top: 16vh;
  margin-bottom: 9vh;
}
#countdownwrapper #countcontent #count {
  position: absolute;
  bottom: calc(100vw / 8.5 / 2 * 3);
  left: 0;
  right: 0;
}
#countdownwrapper #countcontent p {
  color: #c30d23;
  font-weight: 900;
}
#countdownwrapper #countcontent p:first-child {
  font-size: calc(25px + (100vh - 850px) * 0.01);
}
#countdownwrapper #countcontent p:nth-child(2) {
  font-size: calc(25px + (100vh - 850px) * 0.1);
  line-height: calc(70px + (100vh - 850px) * 0.2);
}
#countdownwrapper #countcontent p:nth-child(2) span {
  font-size: calc(80px + (100vh - 850px) * 0.1);
  letter-spacing: -.03em;
  margin-right: 20px;
  margin-left: 15px;
}
#countdownwrapper #countcontent a:nth-child(3) {
  border-radius: calc(31px + (100vh - 850px) * 0.03);
  display: inline-block;
  line-height: calc(31px + (100vh - 850px) * 0.03);
  height: calc(31px + (100vh - 850px) * 0.03);
  padding: 0 calc(31px + (100vh - 850px) * 0.03);
  color: #ffffff;
  background-color: #c30d23;
  font-size: calc(19px + (100vh - 850px) * 0.01);
}
#countdownwrapper #countcontent a:nth-child(5) {
  font-size: calc(17px + (100vh - 850px) * 0.01);
  display: inline-block;
  line-height: calc(24px + (100vh - 850px) * 0.01);
  height: calc(24px + (100vh - 850px) * 0.01);
  margin: calc(5px + (100vh - 850px) * 0.01) 0 calc(15px + (100vh - 850px) * 0.01) 0;
}
#countdownwrapper #countcontent p:nth-child(6) {
  font-size: calc(18px + (100vh - 850px) * 0.01);
  position: relative;
  margin-bottom: calc(10px + (100vh - 850px) * 0.01);
}

@media (orientation: landscape){
  #sprecommendedwrapper {
    display: block;
    position: absolute;
    top: 0;
    z-index: 999999;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    background-image: url('../images/5x2.svg'), url('../images/5x2.svg');
    background-position: left top, right top;
    background-repeat: repeat-y, repeat-y;
    background-size: calc(115 * (100vw / 1080));
    overflow: auto;
  }
  #sprecommendedcontent {
    width: 100%;
    height: 100vh;
    height: 100dvh;
    position: relative;
    overflow: auto;
  }
  #sprecommendedwrapper #sprecommendedcontent>img {
    width: 50%;
    margin-top: 9vh;
    margin-bottom: 7vh;
  }
  #sprecommendedwrapper #sprecommendedcontent #sprecommended {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    height: 20vh;
  }
  #sprecommendedwrapper #sprecommendedcontent #sprecommended img {
    width: 13%;
    display: inline-block;
    margin-top: calc((20vh - 15vw) / 2);
  }
  #sprecommendedwrapper #sprecommendedcontent #sprecommended p {
    font-size: calc(15px + (100vw - 1080px) * 0.01);
    line-height: calc(42px + (100vw - 1080px) * 0.01);
    display: inline-block;
    position: relative;
    top: calc(-6vw + 22px);
    margin: 4vw;
    color: #c30d23;
  }
  #sprecommendedwrapper #sprecommendedcontent #sprecommended p span {
    border-bottom: 3px solid #c30d23;
    padding-bottom: 6px;
    font-size: calc(28px + (100vw - 1080px) * 0.01);
    line-height: calc(42px + (100vw - 1080px) * 0.01);
  }
  #sprecommendedwrapper #sprecommendedcontent>p {
    color: #c30d23;
    font-size: calc(15px + (100vw - 1080px) * 0.01);
    margin-top: calc(10px + (100vw - 1080px) * 0.01);
  }
  /* #countdown */
  #countdownwrapper {
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    position: relative;
    background-image: url('../images/5x2.svg'), url('../images/5x2.svg');
    background-position: left top, right top;
    background-repeat: repeat-y, repeat-y;
    background-size: calc(115 * (100vw / 1080));
  }
  #countcontent {
    width: 100%;
    height: 100vh;
    height: 100dvh;
    position: relative;
  }
  #countdownwrapper #countcontent img {
    width: 50%;
    margin-top: 9vh;
    margin-bottom: 7vh;
  }
  #countdownwrapper #countcontent #count {
    position: absolute;
    bottom: 5vh;
    left: 0;
    right: 0;
  }
  #countdownwrapper #countcontent p {
    color: #c30d23;
    font-weight: 900;
  }
  #countdownwrapper #countcontent p:first-child {
    font-size: calc(19px + (100vw - 1080px) * 0.01);
  }
  #countdownwrapper #countcontent p:nth-child(2) {
    font-size: calc(27px + (100vw - 1080px) * 0.01);
    line-height: calc(120px + (100vw - 1080px) * 0.01);
  }
  #countdownwrapper #countcontent p:nth-child(2) span {
    font-size: calc(72px + (100vw - 1080px) * 0.01);
    letter-spacing: -.03em;
    margin-right: 20px;
    margin-left: 15px;
  }
  #countdownwrapper #countcontent a:nth-child(3) {
    border-radius: calc(28px + (100vw - 1080px) * 0.03);
    display: inline-block;
    line-height: calc(28px + (100vw - 1080px) * 0.03);
    height: calc(28px + (100vw - 1080px) * 0.03);
    padding: 0 calc(28px + (100vw - 1080px) * 0.03);
    color: #ffffff;
    background-color: #c30d23;
    font-size: calc(16px + (100vw - 1080px) * 0.01);
  }
  #countdownwrapper #countcontent a:nth-child(5) {
    font-size: calc(14px + (100vw - 1080px) * 0.01);
    display: inline-block;
    line-height: calc(21px + (100vw - 1080px) * 0.01);
    height: calc(21px + (100vw - 1080px) * 0.01);
    margin: calc(5px + (100vw - 1080px) * 0.01) 0 calc(15px + (100vw - 1080px) * 0.01) 0;
  }
  #countdownwrapper #countcontent p:nth-child(6) {
    font-size: calc(15px + (100vw - 1080px) * 0.01);
    position: relative;
    margin-bottom: calc(7px + (100vw - 1080px) * 0.01);
  }
}